//Common colors
$link-color: #369;
$link-color_visited: #369;
$link-color_hover: #963;

$border-color:#ccc;
$btn-bg-col:#666;
$btn-primary-bg-col:#333;
$btn-primary-bg-col_hover:#999;
$btn-disabled-bg-col: #ccc;