.sLink, .sLink:link {
  color: #336699; }

.sLink:hover, .sLink:link:hover, .sLink:visited:hover {
  color: #996633; }

.sLink:visited {
  color: #336699; }

.sLink {
  display: inline-block;
  position: relative;
  height: 1em;
  padding: 0.2em 0 0.2em 0; }
  .sLink.sLink-prev.sLink-arrow-left {
    padding-left: 1em; }
    .sLink.sLink-prev.sLink-arrow-left:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0.3334em;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0.425em 0.425em 0.425em 0;
      border-color: transparent #336699 transparent transparent; }
    .sLink.sLink-prev.sLink-arrow-left:visited:before {
      border-color: transparent #336699 transparent transparent; }
    .sLink.sLink-prev.sLink-arrow-left:hover:before {
      border-color: transparent #996633 transparent transparent; }
  .sLink.sLink-prev.sLink-arrow-right {
    padding-right: 1em; }
    .sLink.sLink-prev.sLink-arrow-right:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0.3334em;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0.425em 0.425em 0.425em 0;
      border-color: transparent #336699 transparent transparent; }
    .sLink.sLink-prev.sLink-arrow-right:visited:after {
      border-color: transparent #336699 transparent transparent; }
    .sLink.sLink-prev.sLink-arrow-right:hover:after {
      border-color: transparent #996633 transparent transparent; }
  .sLink.sLink-next.sLink-arrow-left {
    padding-left: 1em; }
    .sLink.sLink-next.sLink-arrow-left:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0.3334em;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0.425em 0 0.425em 0.425em;
      border-color: transparent transparent transparent #336699; }
    .sLink.sLink-next.sLink-arrow-left:visited:before {
      border-color: transparent transparent transparent #336699; }
    .sLink.sLink-next.sLink-arrow-left:hover:before {
      border-color: transparent transparent transparent #996633; }
  .sLink.sLink-next.sLink-arrow-right {
    padding-right: 1em; }
    .sLink.sLink-next.sLink-arrow-right:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0.3334em;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0.425em 0 0.425em 0.425em;
      border-color: transparent transparent transparent #336699; }
    .sLink.sLink-next.sLink-arrow-right:visited:after {
      border-color: transparent transparent transparent #336699; }
    .sLink.sLink-next.sLink-arrow-right:hover:after {
      border-color: transparent transparent transparent #996633; }
  .sLink.sLink-up.sLink-arrow-left {
    padding-left: 1em; }
    .sLink.sLink-up.sLink-arrow-left:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0.5em;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0.425em 0.425em 0.425em;
      border-color: transparent transparent #336699 transparent; }
    .sLink.sLink-up.sLink-arrow-left:visited:before {
      border-color: transparent transparent #336699 transparent; }
    .sLink.sLink-up.sLink-arrow-left:hover:before {
      border-color: transparent transparent #996633 transparent; }
  .sLink.sLink-up.sLink-arrow-right {
    padding-right: 1em; }
    .sLink.sLink-up.sLink-arrow-right:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0.5em;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0.425em 0.425em 0.425em;
      border-color: transparent transparent #336699 transparent; }
    .sLink.sLink-up.sLink-arrow-right:visited:after {
      border-color: transparent transparent #336699 transparent; }
    .sLink.sLink-up.sLink-arrow-right:hover:after {
      border-color: transparent transparent #996633 transparent; }
  .sLink.sLink-down.sLink-arrow-left {
    padding-left: 1em; }
    .sLink.sLink-down.sLink-arrow-left:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0.5em;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0.425em 0.425em 0 0.425em;
      border-color: #336699 transparent transparent transparent; }
    .sLink.sLink-down.sLink-arrow-left:visited:before {
      border-color: #336699 transparent transparent transparent; }
    .sLink.sLink-down.sLink-arrow-left:hover:before {
      border-color: #996633 transparent transparent transparent; }
  .sLink.sLink-down.sLink-arrow-right {
    padding-right: 1em; }
    .sLink.sLink-down.sLink-arrow-right:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0.5em;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0.425em 0.425em 0 0.425em;
      border-color: #336699 transparent transparent transparent; }
    .sLink.sLink-down.sLink-arrow-right:hover:after {
      border-color: #996633 transparent transparent transparent; }
    .sLink.sLink-down.sLink-arrow-right:visited:after {
      border-color: #336699 transparent transparent transparent; }

.sButton {
  background-color: #666666; }
  .sButton.sButton-primary {
    background-color: #333333; }
    .sButton.sButton-primary:hover, .sButton.sButton-primary:focus, .sButton.sButton-primary:active {
      background-color: #999999; }
    .sButton.sButton-primary.sButton-disabled:hover, .sButton.sButton-primary.sButton-disabled:focus, .sButton.sButton-primary.sButton-disabled:active {
      background-color: #cccccc; }
  .sButton.sButton-secondary {
    background-color: #4c4c4c; }
  .sButton.sButton-primary.sButton-disabled, .sButton.rxSecondary.sButton-disabled, .sButton.sButton-disabled {
    background-color: #cccccc; }
